<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Property Index Page</h1>
	<div th:if="${message}">
		<h3 style="color:green" th:text="${message}" />
	</div>

	<div>

		<form method="POST" action="/dy/add">
			<table>
				<tr>
					<td>topic:</td>
					<td><input type="text" name="topic" /></td>
					<input type="hidden" name="moduleId" th:value="${moduleId}" />					
				</tr>
				<tr>
					<td>json:</td>
					<td><textarea cols="30" rows="10"  name="json" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="add" /></td>
				</tr>
			</table>
		</form>
	</div>

	<div>
		<table border="1">
			<tr>
				<td>id</td>				
				<td>topic</td>
				<td>json</td>
				<td>operate</td>
			</tr>
			<tr th:each="prop: ${dys}">
				<td th:text="${prop.id}"></td>
				<td th:text="${prop.topic}"></td>
				<td><textarea th:text="${prop.json}"/></td>				
				<td>
					<a th:href="|/dy/publish?id=${prop.id}&amp;moduleId=${moduleId}|" style="color:green">publish</a>
					<a th:href="|/dy/del?id=${prop.id}&amp;moduleId=${moduleId}|" style="color:red">del</a>
					<a th:href="|/dy/open?id=${prop.id}|" style="color:orange">modify</a>
				</td>
			</tr>
		</table>
	</div>
	
</body>
</html>
