<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>
	
	<div>
		<form method="POST" action="/env/update">
			<table>
				<tr>
					<td><input type="hidden" name="id" th:value="${id}"/></td>
					<td><input type="hidden" name="adapter.id" th:value="${adapterId}"/></td>
				</tr>
				<tr>
					<td>name:</td>
					<td><input type="text" name="name" th:value="${name}"/></td>
				</tr>
				<tr>
					<td>descript:</td>
					<td><input type="text" name="descript" th:value="${descript}"/></td>
				</tr>
				<tr>
					<td>NetElementType:</td>
					<td>K8S<input type="radio" name="type" value="K8S"
						checked="checked" /></td>
				</tr>

				<tr>
					<td>apiType:</td>
					<td>KUBECTL<input type="radio" name="adapter.apiType" value="KUBECTL" th:checked="${adapterType} == 1 "/> URL_API<input
						type="radio" name="adapter.apiType" value='URL_API' th:checked="${adapterType} == 0 " /></td>
				</tr>

				<tr>
					<td>apiUrl:</td>
					<td><input type="text" name="adapter.url" th:value="${descript}"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
