<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Module Index Page</h1>
	<div th:if="${message}">
		<h3 style="color:green" th:text="${message}" />
	</div>
	
	<div>
		<form method="POST" action="/module/add">
			<table>
				<tr>
					<td>name:</td>
					<td><input type="text" name="name" /></td>
				</tr>
				<tr>
					<td>workloadName:</td>
					<td><input type="text" name="workloadName" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Create" /></td>
				</tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="module : ${modules}">
			<span th:text="${module}"/>
				<a th:href="'/cm/index?id='+${module.id}">configMap</a>
				<a th:href="'/dy/index?id='+${module.id}">dynamic</a>
				<a th:href="'/module/del?id='+${module.id}" th:text="del" style="color: red;"/>
				<a th:href="'/module/modify?id='+${module.id}" th:text="modify" style="color: orange;"/>
				<a th:href="|/module/publish?id=${module.id}|" th:text="publish" style="color: blue"/></li>
		</ul>
	</div>
</body>
</html>
